name: Main
on:
  push:
    branches:
      - main

jobs:
  skip-ci-check:
    runs-on: ubuntu-latest
    outputs:
      should_skip_ci: ${{ steps.skip_ci_check.outputs.should_skip_ci }}
    steps:
      - id: skip_ci_check
        run: |
          if [[ "${{ github.event.head_commit.message }}" == *"[no ci]"* ]] || [[ "${{ github.event.head_commit.message }}" == *"[skip ci]"* ]]; then
            echo "should_skip_ci=true" >> $GITHUB_OUTPUT
          else
            echo "should_skip_ci=false" >> $GITHUB_OUTPUT
          fi

  check:
    needs: skip-ci-check
    if: needs.skip-ci-check.outputs.should_skip_ci != 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install tools
        uses: ./.github/actions/asdf_install
      - name: Test
        run: ./go library:check
  test:
    needs: skip-ci-check
    if: needs.skip-ci-check.outputs.should_skip_ci != 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install tools
        uses: ./.github/actions/asdf_install
      - name: Test
        run: ./go library:test:all
  build:
    needs: skip-ci-check
    if: needs.skip-ci-check.outputs.should_skip_ci != 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install tools
        uses: ./.github/actions/asdf_install
      - name: Test
        run: ./go library:build

  prerelease:
    runs-on: ubuntu-latest
    needs: [check, test, build]
    steps:
      - uses: actions/checkout@v3
      - name: Install tools
        uses: ./.github/actions/asdf_install
      - name: Authenticate with PyPi
        run: ./go poetry:login_to_pypi[${{ secrets.PYPI_API_KEY }}]
      - name: Publish
        run: ./go library:publish:prerelease
      - name: Configure git Author
        run: ./go repository:set_ci_author
      - name: Commit Release
        run: ./go repository:commit_release
      - name: Push Release Commit
        run: ./go repository:push

  release:
    runs-on: ubuntu-latest
    needs: [ prerelease ]
    environment: release
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'main'
      - name: Install tools
        uses: ./.github/actions/asdf_install
      - name: Authenticate with PyPi
        run: ./go poetry:login_to_pypi[${{ secrets.PYPI_API_KEY }}]
      - name: Publish
        run: ./go library:publish:release
      - name: Configure git Author
        run: ./go repository:set_ci_author
      - name: Commit Release
        run: ./go repository:commit_release
      - name: Push Release Commit
        run: ./go repository:push
